html {
	font-family: 'Ubuntu', sans-serif;
}

body {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	overflow: hidden;
}

dl {
	margin: 0;
}

img {
	max-width: 100%;
}

#education ul,#education ul li {
	width: 100%;
}

.divider {
	position: absolute;
	width: 50%;
	left: 25%;
	animation-name: grow-divider;
	animation-duration: 1s;
	background-color: #26a69a ;
}

.frame {
	position: absolute;
	border: 2px solid #26a69a;
	width: calc(100% - 96px);
	height: calc(100% - 94px);
	left: 48px;
	top: 48px;
	animation-name: popup;
	animation-duration: 1s;
}

.row {
	width: 100%;
}

.icon-text {
	font-family: "Roboto";
  	font-weight: 300;
}

#about, #education, #projects {
	top: 48px;
	left: 48px;
	height: calc(100% - 96px);
	width: calc(100% - 96px);
	position: absolute;
	animation-duration: 1s;
}

#education, #projects {
	overflow: auto;
}

#tabs-swipe {
	position: absolute;
	bottom: 0;
	width: calc(100% - 98px);
	left: 49px;
	color: purple;
	background: transparent;
}
#tabs-swipe .indicator {
	top: 0;
	background: #80cbc4;
	animation-name: indicator-appear;
	animation-duration: 3s;
}
.tabs .tab a {
	color: #26a69a;
	transition: color 0.5s;
}
.tabs .tab a.active{
	color: #80cbc4;
}
.tabs .tab a:hover {
	color: #80cbc4;
}

.keyboard {
	max-width: 50%;
	display: inline-block;
	animation-name: keyboard-appear;
	animation-duration: 1s;
}

.contact-btn {
	color: red;
}

.collapsible-header img {
	height: 2em;
	position: absolute;
	right: calc(48px + 1em);
}
.collapsible-body {
	padding: 0;
}
#education .chip {
	float: right;
	background-color: #4db6ac;
	color: #00695c
}
#education .collection-item:hover{
	background-color: #00695c;
}
#education .collection-item{
	padding-bottom: 15px;
}
#education * {
	border: teal;
}
#education div ul li {
	background: transparent;
}
.collapsible {
	box-shadow: none;
}
.collapsible-header:before {
	content: "[ + ]\00a0\00a0";
}
.collapsible-header.active:before {
	content: "[ - ]\00a0\00a0";
}

.project-banner {
	width: 100%;
	height: 25%;
	animation-name: background-move;
	animation-duration: 60s;
	animation-timing-function: linear;
	animation-iteration-count:infinite;
}
.project-banner h3 {
	margin: 0;
	background-color: rgba(0,0,0,0.6);
}
.overlay {
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.8);
}
#projects {
	padding: 2px;
}

@keyframes background-move {
	from {
		background-position-y: 300px;
	}
	to {
		background-position-y: 1000px;
	}
}

@keyframes appear-left {
	from {
		left: 100%;
	}
	to {
		left: 48px;
	}
}
@keyframes appear-right {
	from {
		left: -100%;
	}
	to {
		left: 48px;
	}
}
@keyframes disappear-left {
	from {
		left: 48px;
	}
	to {
		left: -100%;
	}
}
@keyframes disappear-right {
	from {
		left: 48px;
	}
	to {
		left: 100%;
	}
}

@keyframes grow-divider {
	from {
		width: 0;
		left: 50%;
	}
	to {
		width: 50%;
		left: 25%;
	}
}

@keyframes popup {
	from {
		border-width: 0px;
		width: 0px;
		height: 0px;
		left: calc(50%);
		top: calc(50%);
	}
	20% {
		border-width: 0px;
	}
	to {
		border-width: 1px;
		width: calc(100% - 94px);
		height: calc(100% - 94px);
		left: 48px;
		top: 48px;
	}
}

@keyframes indicator-appear {
	from {
		background-color: #00796b;
	}
	30% {
		background-color: #00796b;
	}
	to {
		background-color: #80cbc4;
	}
}

@keyframes keyboard-appear {
	from {
		transform: rotate3d(0,1,0.5,180deg);
	}
	to {
		transform: rotate3d(0,1,0,0deg);
	}
}
