html {
	font-family: 'Roboto Mono', monospace;
}

body {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	overflow: hidden;
	background-color: #d2fffa;
}


img {
	max-width: 100%;
}

h5 {
	margin-top: 2em;
}

#skills ul,#skills ul li {
	width: 100%;
}

.divider {
	position: absolute;
	width: 50%;
	left: 25%;
	animation-name: grow-divider;
	animation-duration: 1s;
	background-color: #014e47 ;
	margin: 5px;
}

.frame {
	position: absolute;
	border: 2px solid #014e47;
	width: calc(100% - 96px);
	height: calc(100% - 94px);
	left: 48px;
	top: 48px;
	animation-name: popup;
	animation-duration: 1s;
}

.row {
	width: 100%;
}

.icon-text {
	font-family: "Roboto";
  	font-weight: 300;
}

#about, #skills, #projects {
	top: 48px;
	left: 48px;
	height: calc(100% - 94px);
	width: calc(100% - 96px);
	position: absolute;
	animation-duration: 1s;
}

#skills, #projects {
	overflow: auto;
}

#tabs-swipe {
	position: absolute;
	bottom: 0;
	width: calc(100% - 98px);
	left: 49px;
	color: purple;
	background: transparent;
}
#tabs-swipe .indicator {
	top: 0;
	background: #d2fffa;
}
.tabs .tab a {
	color: #26a69a;
	transition: color 0.5s;
}
.tabs .tab a.active{
	color: #014e47;
	font-weight: bold
}
.tabs .tab a.active::before{
	content: "// ";
}
.tabs .tab a:hover {
	color: #014e47;
}
.tabs .tab a:hover::before {
	content: "// ";
}

.keyboard {
	max-width: 85%;
	display: inline-block;
	animation-name: keyboard-appear;
	animation-duration: 1s;
}

.contact-btn {
	color: red;
}

.collapsible-header img {
	height: 2em;
	position: absolute;
	right: calc(48px + 1em);
}
.collapsible-body {
	padding: 0;
}
#skills .chip {
	float: right;
	background-color: #4db6ac;
	color: #00695c
}
#skills .collection-item:hover{
	background-color: #00695c;
}
#skills .collection-item{
	padding-bottom: 15px;
}
#skills div ul li {
	background: transparent;
}
.collapsible {
	box-shadow: none;
}
.collapsible-header:before {
	content: "[ + ]\00a0\00a0";
}
.collapsible-header.active:before {
	content: "[ - ]\00a0\00a0";
}

.project-banner {
	width: 100%;
	height: 25%;
	animation-name: background-move;
	animation-duration: 60s;
	animation-timing-function: linear;
	animation-iteration-count:infinite;
}
.project-banner h3 {
	margin: 0;
	background-color: rgb(210, 255, 250);
	color: #014e47;
}
.overlay {
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.8);
}
#projects {
	padding: 2px;
}

.meter {
	height: 2em;
	border: 2px solid teal;
	margin: 2px;
	border-radius: 2px;
}
.meter span {
	height: 100%;
	width: 50%;
	display: block;
}
.meter span span {
	height: 100%;
	width: 100%;
	background-color: teal;
	display: block;
	animation-name: skill-grow;
	animation-duration: 2s;
	color: white;
	padding-left: 2rem;
	text-align: left;
}
.skill {
	height: 2em;
	margin: 2px;
	text-align: right;
}

@keyframes skill-grow {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}

@keyframes background-move {
	from {
		background-position-y: 300px;
	}
	to {
		background-position-y: 1000px;
	}
}

@keyframes appear-left {
	from {
		left: 100%;
	}
	to {
		left: 48px;
	}
}
@keyframes appear-right {
	from {
		left: -100%;
	}
	to {
		left: 48px;
	}
}
@keyframes disappear-left {
	from {
		left: 48px;
	}
	to {
		left: -100%;
	}
}
@keyframes disappear-right {
	from {
		left: 48px;
	}
	to {
		left: 100%;
	}
}

@keyframes grow-divider {
	from {
		width: 0;
		left: 50%;
	}
	to {
		width: 50%;
		left: 25%;
	}
}

@keyframes popup {
	from {
		border-width: 0px;
		width: 0px;
		height: 0px;
		left: calc(50%);
		top: calc(50%);
	}
	20% {
		border-width: 0px;
	}
	to {
		border-width: 1px;
		width: calc(100% - 94px);
		height: calc(100% - 94px);
		left: 48px;
		top: 48px;
	}
}

@keyframes indicator-appear {
	from {
		background-color: #d2fffa;
	}
	50% {
		background-color: #d2fffa;
	}
	to {
		background-color: #80cbc4;
	}
}

@keyframes keyboard-appear {
	from {
		transform: rotate3d(0,1,0.5,180deg);
	}
	to {
		transform: rotate3d(0,1,0,0deg);
	}
}
